.abo {
    &__titre {
        font-size: rem(28);
        text-transform: uppercase;
        text-align: center;
        margin-bottom: rem(25);
    }
    &__desc {
        text-align: center;
        font-size: rem(16);
        font-family: $font-text;
        &--color {
            color: $flame;
        }
    }
    &__choix {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: rem(50);
        margin-bottom: rem(30);
        text-align: center;
    }
    &__mois {
        
        --var {
            border: 1px solid $flame;
        }
    }
}