// Téléphone
@media (max-width: 800px) {
	*,
    *::before,
    *::after {
        box-sizing: border-box;
        margin:0;
        padding:0;
    }
    body {
        background-color: $violet;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    a {
        text-decoration: none;
        color: $flame;
    }
}
//Tablette
@media (min-width: 801px) {
	*,
    *::before,
    *::after {
        box-sizing: border-box;
        margin:0;
        padding:0;
    }
    body {
        background-color: $violet;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
}

.container {
    margin: rem(125) rem(55) rem(0) rem(55);
}